# -*- mode: gitignore; -*-

# bot's database
*.db
crystore/
# bot's config
config.yaml


# py
__pycache__/
*.py[cod]
*$py.class
*.so
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
.ipynb_checkpoints
.python-version
.env
.venv
venv/
ENV/
.pdm-python
pdm.lock

# editors
.spyderproject
.spyproject
.ropeproject
/site
*~
\#*\#
.\#*
*_flymake.*
flycheck_*.el
.cask/
.dir-locals.el
todo.org

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
Session.vim
.netrwhist
tags

# direnv
.envrc
