[Unit]
Description=Bernd Lauert Matrix Chatbot
After=multi-user.target
Requires=multi-user.target

[Service]
Type=simple
User=bernd
WorkingDirectory=/srv/cyber-matrix-bot
ExecStart=/srv/cyber-matrix-bot/venv/bin/python3 ./bernd -c ./rbg.ini
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
